{% set title = "index" %}

{% extends "main.tpl" %}

{% block content %}

{% include "components/header.html" %}
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-block">
          <div class="title">Лучшие подборки и предложения</div>
          <div>
            <a href="#!"><img src="./images/svg/Vectorbig.svg" alt=""></a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div>
          <a class="card-md3" href="#!">
            <div class="card-md3-img">
              <img src="http://picsum.photos/600" alt=":(">
              <span class="card-shadow"></span>
            </div>
            <div class="card-md3-content">
              <div class="card-md3-block1">
                <div>
                  <div class="card-md3-title">New Tashkent</div>
                  <div class="card-md3-subTitle">Uzbekistan</div>
                </div>
                <div>
                  <div class="card-md3-price">Average price</div>
                  <div class="card-md3-sum">45$</div>
                </div>
              </div>
              <div class="card-md3-block2">
                <div class="card-md3-block2-img"><img src="http://picsum.photos/100" alt=""></div>
                <div>
                  <div class="card-md3-agency">Life of Pekin</div>
                  <div class="card-md3-subAgency"> <span>Top offers</span> </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div>
          <a class="card-md3" href="#!">
            <div class="card-md3-img"><img src="http://picsum.photos/601" alt=":("> <span class="card-shadow"></span>
            </div>
            <div class="card-md3-content">
              <div class="card-md3-block1">
                <div>
                  <div class="card-md3-title">Life of Pekin</div>
                  <div class="card-md3-subTitle">China</div>
                </div>
                <div>
                  <div class="card-md3-price">Average price</div>
                  <div class="card-md3-sum">17$</div>
                </div>
              </div>
              <div class="card-md3-block2">
                <div class="card-md3-block2-img"><img src="http://picsum.photos/101" alt=""></div>
                <div>
                  <div class="card-md3-agency">ChinaTown</div>
                  <div class="card-md3-subAgency"> <span>Top offers</span> </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div>
          <a class="card-md3" href="#!">
            <div class="card-md3-img"><img src="http://picsum.photos/602" alt=":("> <span class="card-shadow"></span>
            </div>
            <div class="card-md3-content">
              <div class="card-md3-block1">
                <div>
                  <div class="card-md3-title">NewYourk City</div>
                  <div class="card-md3-subTitle">USA</div>
                </div>
                <div>
                  <div class="card-md3-price">Average price</div>
                  <div class="card-md3-sum">45$</div>
                </div>
              </div>
              <div class="card-md3-block2">
                <div class="card-md3-block2-img"><img src="http://picsum.photos/102" alt=""></div>
                <div>
                  <div class="card-md3-agency">by Guide Travel Agency</div>
                  <div class="card-md3-subAgency"> <span>Top offers</span> </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div>
          <a class="card-md3" href="#!">
            <div class="card-md3-img"><img src="http://picsum.photos/603" alt=":("> <span class="card-shadow"></span>
            </div>
            <div class="card-md3-content">
              <div class="card-md3-block1">
                <div>
                  <div class="card-md3-title">Pearl of the East</div>
                  <div class="card-md3-subTitle">Uzbekistan</div>
                </div>
                <div>
                  <div class="card-md3-price">Average price</div>
                  <div class="card-md3-sum">38$</div>
                </div>
              </div>
              <div class="card-md3-block2">
                <div class="card-md3-block2-img"><img src="http://picsum.photos/103" alt=""></div>
                <div>
                  <div class="card-md3-agency">Muslima Hakimova</div>
                  <div class="card-md3-subAgency"> <span>Top offers</span> </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="title-block">
          <div class="title">Просмотр по типу</div>
          <div><img src="" alt=""></div>
        </div>
      </div>
      <div class="col-md-2">
        <div>
          <a class="card-md2" href="#!">
            <div class="card-md2-img"><img src="./images/svg/cities.svg" alt=":("></div>
            <div class="card-md2-content">
              <div class="card-md2-title">Cities</div>
              <div class="card-md2-subTitle">456 cities</div>
              <div class="card-md2-lastTitle">from 130 km</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div>
          <a class="card-md2" href="#!">
            <div class="card-md2-img"><img src="./images/svg/attractions.svg" alt=":("></div>
            <div class="card-md2-content">
              <div class="card-md2-title">Attractions</div>
              <div class="card-md2-subTitle">45,737 attractions</div>
              <div class="card-md2-lastTitle">from 68 km</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div>
          <a class="card-md2" href="#!">
            <div class="card-md2-img"><img src="./images/svg/hotels.svg" alt=":("></div>
            <div class="card-md2-content">
              <div class="card-md2-title">Hotels</div>
              <div class="card-md2-subTitle">732,737 hotels</div>
              <div class="card-md2-lastTitle">from 45 $</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div>
          <a class="card-md2" href="#!">
            <div class="card-md2-img"><img src="./images/svg/apartment.svg" alt=":("></div>
            <div class="card-md2-content">
              <div class="card-md2-title">Apartments</div>
              <div class="card-md2-subTitle">962,367 houses</div>
              <div class="card-md2-lastTitle">from 45 $</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div>
          <a class="card-md2" href="#!">
            <div class="card-md2-img"><img src="./images/svg/flights.svg" alt=":("></div>
            <div class="card-md2-content">
              <div class="card-md2-title">Flights</div>
              <div class="card-md2-subTitle">345 ticket offices</div>
              <div class="card-md2-lastTitle">from 45 $</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div>
          <a class="card-md2" href="#!">
            <div class="card-md2-img"><img src="./images/svg/carRentals.svg" alt=":("></div>
            <div class="card-md2-content">
              <div class="card-md2-title">Car rentals</div>
              <div class="card-md2-subTitle">732,737 cars</div>
              <div class="card-md2-lastTitle">from 45 $</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-12">
        <div class="title-block">
          <div class="title">Лучшие подборки и предложения</div>
          <div>
            <a href="#!"><img src="./images/svg/Vectorbig.svg" alt=""></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <a class="card-md4" href="#!">
            <img src="http://picsum.photos/650" alt="">
            <div class="card-md4-content">
              <div class="card-md4-title">Moscow</div>
              <div class="card-md4-subTitle">Russia</div>
              <div>
                <span class="user-like">
                  <svg width="25" height="25" viewBox="-15 0 430.900 460.900">
                    <path
                      d="M295.706,35.522C295.706,35.522,295.706,35.522,295.706,35.522c-34.43-0.184-67.161,14.937-89.339,41.273    c-22.039-26.516-54.861-41.68-89.339-41.273C52.395,35.522,0,87.917,0,152.55C0,263.31,193.306,371.456,201.143,375.636    c3.162,2.113,7.286,2.113,10.449,0c7.837-4.18,201.143-110.759,201.143-223.086C412.735,87.917,360.339,35.522,295.706,35.522z"
                      fill="#ffffff" />
                  </svg>
                </span>
                <span class="card-md4-like">36 700</span>
              </div>
            </div>
            <span class="card-shadow"></span>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div> <a class="card-md4" href="#!">
            <img src="http://picsum.photos/652" alt="">
            <div class="card-md4-content">
              <div class="card-md4-title">NewYourk</div>
              <div class="card-md4-subTitle">USA</div>
              <div>
                <span class="user-like">
                  <svg width="25" height="25" viewBox="-15 0 430.900 460.900">
                    <path
                      d="M295.706,35.522C295.706,35.522,295.706,35.522,295.706,35.522c-34.43-0.184-67.161,14.937-89.339,41.273    c-22.039-26.516-54.861-41.68-89.339-41.273C52.395,35.522,0,87.917,0,152.55C0,263.31,193.306,371.456,201.143,375.636    c3.162,2.113,7.286,2.113,10.449,0c7.837-4.18,201.143-110.759,201.143-223.086C412.735,87.917,360.339,35.522,295.706,35.522z"
                      fill="#ffffff" />
                  </svg>
                </span>
                <span class="card-md4-like">36 700</span>
              </div>
            </div>
            <span class="card-shadow"></span>
          </a></div>
      </div>
      <div class="col-md-4">
        <div> <a class="card-md4" href="#!">
            <img src="http://picsum.photos/651" alt="">
            <div class="card-md4-content">
              <div class="card-md4-title">Tashkent</div>
              <div class="card-md4-subTitle">Uzbekistan</div>
              <div>
                <span class="user-like">
                  <svg width="25" height="25" viewBox="-15 0 430.900 460.900">
                    <path
                      d="M295.706,35.522C295.706,35.522,295.706,35.522,295.706,35.522c-34.43-0.184-67.161,14.937-89.339,41.273    c-22.039-26.516-54.861-41.68-89.339-41.273C52.395,35.522,0,87.917,0,152.55C0,263.31,193.306,371.456,201.143,375.636    c3.162,2.113,7.286,2.113,10.449,0c7.837-4.18,201.143-110.759,201.143-223.086C412.735,87.917,360.339,35.522,295.706,35.522z"
                      fill="#ffffff" />
                  </svg>
                </span>
                <span class="card-md4-like">36 700</span>
              </div>
            </div>
            <span class="card-shadow"></span>
          </a></div>
      </div>
      <div class="col-md-4">
        <div> <a class="card-md4" href="#!">
            <img src="http://picsum.photos/653" alt="">
            <div class="card-md4-content">
              <div class="card-md4-title">Paris</div>
              <div class="card-md4-subTitle">France</div>
              <div>
                <span class="user-like">
                  <svg width="25" height="25" viewBox="-15 0 430.900 460.900">
                    <path
                      d="M295.706,35.522C295.706,35.522,295.706,35.522,295.706,35.522c-34.43-0.184-67.161,14.937-89.339,41.273    c-22.039-26.516-54.861-41.68-89.339-41.273C52.395,35.522,0,87.917,0,152.55C0,263.31,193.306,371.456,201.143,375.636    c3.162,2.113,7.286,2.113,10.449,0c7.837-4.18,201.143-110.759,201.143-223.086C412.735,87.917,360.339,35.522,295.706,35.522z"
                      fill="#ffffff" />
                  </svg>
                </span>
                <span class="card-md4-like">36 700</span>
              </div>
            </div>
            <span class="card-shadow"></span>
          </a></div>
      </div>
      <div class="col-md-4">
        <div> <a class="card-md4" href="#!">
            <img src="http://picsum.photos/654" alt="">
            <div class="card-md4-content">
              <div class="card-md4-title">Samarkhand</div>
              <div class="card-md4-subTitle">Uzbekistan</div>
              <div>
                <span class="user-like">
                  <svg width="25" height="25" viewBox="-15 0 430.900 460.900">
                    <path
                      d="M295.706,35.522C295.706,35.522,295.706,35.522,295.706,35.522c-34.43-0.184-67.161,14.937-89.339,41.273    c-22.039-26.516-54.861-41.68-89.339-41.273C52.395,35.522,0,87.917,0,152.55C0,263.31,193.306,371.456,201.143,375.636    c3.162,2.113,7.286,2.113,10.449,0c7.837-4.18,201.143-110.759,201.143-223.086C412.735,87.917,360.339,35.522,295.706,35.522z"
                      fill="#ffffff" />
                  </svg>
                </span>
                <span class="card-md4-like">36 700</span>
              </div>
            </div>
            <span class="card-shadow"></span>
          </a></div>
      </div>
      <div class="col-md-4">
        <div> <a class="card-md4" href="#!">
            <img src="http://picsum.photos/655" alt="">
            <div class="card-md4-content">
              <div class="card-md4-title">Rome</div>
              <div class="card-md4-subTitle">Italy</div>
              <div>
                <span class="user-like">
                  <svg width="25" height="25" viewBox="-15 0 430.900 460.900">
                    <path
                      d="M295.706,35.522C295.706,35.522,295.706,35.522,295.706,35.522c-34.43-0.184-67.161,14.937-89.339,41.273    c-22.039-26.516-54.861-41.68-89.339-41.273C52.395,35.522,0,87.917,0,152.55C0,263.31,193.306,371.456,201.143,375.636    c3.162,2.113,7.286,2.113,10.449,0c7.837-4.18,201.143-110.759,201.143-223.086C412.735,87.917,360.339,35.522,295.706,35.522z"
                      fill="#ffffff" />
                  </svg>
                </span>
                <span class="card-md4-like">36 700</span>
              </div>
            </div>
            <span class="card-shadow"></span>
          </a></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="title-block">
          <div class="title">Квартиры, которые вам нравятся!</div>
          <div><img src="./images/svg/Vectorbig.svg" alt=""></div>
        </div>
      </div>
      <div class="col-md-12 m-b-15">
        <div>
          <div class="swiper-container mySwiper ">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a class="card-slide" href="#!">
                  <div class="card-slide-img">
                    <img src="http://picsum.photos/500" alt="">
                    <span class="card-shadow"></span>
                  </div>
                  <div class="card-slide-content">
                    <div class="card-slide-title">Hotel Bildirsay</div>
                    <div class="card-slide-subTitle">Tashkent</div>
                    <div class="card-slide-price">from 67$</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="card-slide" href="#!">
                  <div class="card-slide-img">
                    <img src="http://picsum.photos/501" alt="">
                    <span class="card-shadow"></span>
                  </div>
                  <div class="card-slide-content">
                    <div class="card-slide-title">Hotel Bildirsay</div>
                    <div class="card-slide-subTitle">Tashkent</div>
                    <div class="card-slide-price">from 67$</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="card-slide" href="#!">
                  <div class="card-slide-img">
                    <img src="http://picsum.photos/502" alt="">
                    <span class="card-shadow"></span>
                  </div>
                  <div class="card-slide-content">
                    <div class="card-slide-title">Hotel Bildirsay</div>
                    <div class="card-slide-subTitle">Tashkent</div>
                    <div class="card-slide-price">from 67$</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="card-slide" href="#!">
                  <div class="card-slide-img">
                    <img src="http://picsum.photos/503" alt="">
                    <span class="card-shadow"></span>
                  </div>
                  <div class="card-slide-content">
                    <div class="card-slide-title">Hotel Bildirsay</div>
                    <div class="card-slide-subTitle">Tashkent</div>
                    <div class="card-slide-price">from 67$</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="card-slide" href="#!">
                  <div class="card-slide-img">
                    <img src="http://picsum.photos/504" alt="">
                    <span class="card-shadow"></span>
                  </div>
                  <div class="card-slide-content">
                    <div class="card-slide-title">Hotel Bildirsay</div>
                    <div class="card-slide-subTitle">Tashkent</div>
                    <div class="card-slide-price">from 67$</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="card-slide" href="#!">
                  <div class="card-slide-img">
                    <img src="http://picsum.photos/505" alt="">
                    <span class="card-shadow"></span>
                  </div>
                  <div class="card-slide-content">
                    <div class="card-slide-title">Hotel Bildirsay</div>
                    <div class="card-slide-subTitle">Tashkent</div>
                    <div class="card-slide-price">from 67$</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="card-slide" href="#!">
                  <div class="card-slide-img">
                    <img src="http://picsum.photos/506" alt="">
                    <span class="card-shadow"></span>
                  </div>
                  <div class="card-slide-content">
                    <div class="card-slide-title">Hotel Bildirsay</div>
                    <div class="card-slide-subTitle">Tashkent</div>
                    <div class="card-slide-price">from 67$</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="card-slide" href="#!">
                  <div class="card-slide-img">
                    <img src="http://picsum.photos/507" alt="">
                    <span class="card-shadow"></span>
                  </div>
                  <div class="card-slide-content">
                    <div class="card-slide-title">Hotel Bildirsay</div>
                    <div class="card-slide-subTitle">Tashkent</div>
                    <div class="card-slide-price">from 67$</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="card-slide" href="#!">
                  <div class="card-slide-img">
                    <img src="http://picsum.photos/508" alt="">
                    <span class="card-shadow"></span>
                  </div>
                  <div class="card-slide-content">
                    <div class="card-slide-title">Hotel Bildirsay</div>
                    <div class="card-slide-subTitle">Tashkent</div>
                    <div class="card-slide-price">from 67$</div>
                  </div>
                </a>
              </div>
            </div>
            <div class="swiper-pagination"></div>

          </div>
          <div class="swiper-button-next"> <span>
              <img src="./images/svg/VectorLeft.svg" alt=":(">
            </span>

          </div>
          <div class="swiper-button-prev"> <span>
              <img src="./images/svg/VectorRight.svg" alt="">
            </span>

          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="title-block">
          <div class="title">Get inspiration for your next trip</div>
          <div><img src="./images/svg/Vectorbig.svg" alt=""></div>
        </div>
      </div>
      <div class="col-md-5 m-b-15">
        <div>
          <a class="card-responsive" href="#!">
            <img class="card-responsive-img" src="http://picsum.photos/700" alt=":(">
            <span class="card-shadow"></span>
            <div class="card-responsive-content">
              <div class="card-responsive-title">In search of pleasure in
                the mountains</div>
              <div class="card-responsive-block">
                <div>
                  <div class="card-responsive-country">Republic Of Uzbekistan</div>
                  <div class="card-responsive-adres"> <span>Chorvoq</span> </div>
                </div>
                <div class="card-responsive-user">
                  <div>
                    <span class="user-like">
                      <svg width="25" height="25" viewBox="-15 0 430.900 460.900">
                        <path
                          d="M295.706,35.522C295.706,35.522,295.706,35.522,295.706,35.522c-34.43-0.184-67.161,14.937-89.339,41.273    c-22.039-26.516-54.861-41.68-89.339-41.273C52.395,35.522,0,87.917,0,152.55C0,263.31,193.306,371.456,201.143,375.636    c3.162,2.113,7.286,2.113,10.449,0c7.837-4.18,201.143-110.759,201.143-223.086C412.735,87.917,360.339,35.522,295.706,35.522z"
                          fill="#ffffff" />
                      </svg>
                    </span>
                    <span>367</span>
                  </div>
                  <div>
                    <span> <img src="./images/svg/chat.svg" alt=":("> </span><span>367</span><span
                      class="card-responsive-commet">comments</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-7 m-b-15">
        <div>
          <a class="card-responsive" href="#!">
            <img class="card-responsive-img" src="http://picsum.photos/701" alt=":(">
            <span class="card-shadow"></span>
            <div class="card-responsive-content">
              <div class="card-responsive-title">In search of pleasure in
                the mountains</div>
              <div class="card-responsive-block">
                <div>
                  <div class="card-responsive-country">Republic Of Uzbekistan</div>
                  <div class="card-responsive-adres"> <span>Chorvoq</span> </div>
                </div>
                <div class="card-responsive-user">
                  <div>
                    <span class="user-like">
                      <svg width="25" height="25" viewBox="-15 0 430.900 460.900">
                        <path
                          d="M295.706,35.522C295.706,35.522,295.706,35.522,295.706,35.522c-34.43-0.184-67.161,14.937-89.339,41.273    c-22.039-26.516-54.861-41.68-89.339-41.273C52.395,35.522,0,87.917,0,152.55C0,263.31,193.306,371.456,201.143,375.636    c3.162,2.113,7.286,2.113,10.449,0c7.837-4.18,201.143-110.759,201.143-223.086C412.735,87.917,360.339,35.522,295.706,35.522z"
                          fill="#ffffff" />
                      </svg>
                    </span>
                    <span>367</span>
                  </div>
                  <div>
                    <span> <img src="./images/svg/chat.svg" alt=":("> </span><span>367</span><span
                      class="card-responsive-commet">comments</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-12">
        <form class="form" action="#!">
          <div class="row">
            <div class="col-md-5">
              <div class="form-inner">
                <div>
                  <div class="form-text">Enter your email and subscribe to us</div>
                  <div class="form-subText">Be the first to use our best services</div>
                </div>
                <div class="form-send-icon"><img src="./images/svg/send.svg" alt=":("></div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="form-inner2">
                <input class="form-input" placeholder="Your e-mail" type="text">
                <button class="form-btn">Subscribe</button>
              </div>
            </div>
          </div>
      </div>
      </form>
    </div>

  </div>
</main>

{% include "components/footer.html" %}
{% endblock %}