<footer class="footer">
  <div class="container-mod">
    <div class="footer-inner">

      <div class="footer-intro">
        <a class="header-logo" href="#!"><img src="./images/png/Logo.png" alt=":("></a>
        <div>
          <ul class="footer-menu">
            <li class="footer-menu-item"><a class="footer-menu-link" href="#!">Tours</a></li>
            <li class="footer-menu-item"><a class="footer-menu-link" href="#!">Countries</a></li>
            <li class="footer-menu-item"><a class="footer-menu-link" href="#!">About Us</a></li>
            <li class="footer-menu-item"><a class="footer-menu-link" href="#!">Impressions</a></li>
            <li class="footer-menu-item"><a class="footer-menu-link" href="#!">Blogs</a></li>
            <li class="footer-menu-item"><a class="footer-menu-link" href="#!">Contact</a></li>
          </ul>
        </div>

      </div>
      <div class="footer-social-wrap">
        <div class="footer-social-item"> <a href="#!">facebook</a></div>
        <div class="footer-social-item"><a href="#!">instagram</a></div>
        <div class="footer-social-item"> <a href="#!">telegram</a></div>
        <div class="footer-social-item"> <a href="#!">Twitter</a></div>  
      </div>

    </div>
    <div class="footer-last">
      <div class="footer-last-text">© 2020 Holiday Uz OOO. Trademarks and brands are the property of  their
        respective owners</div>
      <div class="footer-pay-cards">
        <a href="#!"><img src="./images/svg/visa.svg" alt=""></a>
        <a href="#!"><img src="./images/svg/masterCard.svg" alt=""></a>
        <a href="#!"><img src="./images/svg/humo.svg" alt=""></a>
        <a href="#!"><img src="./images/svg/uzcard.svg" alt=""></a>

      </div>
    </div>
  </div>
</footer>