<div class="header-wrap" style="background-image: url(./images/png/header-banner.png);">
  <div class="container-mod">
    <header>
      <div class="header-inner">
        <div class="header-nav-wrap">
          <a class="header-logo" href="#!"><img src="./images/png/Logo.png" alt=":("></a>
          <nav class="header-nav">
            <input id="menu-toggle" type="checkbox" />
            <label class="menu-btn" for="menu-toggle">
              <span></span>
            </label>
            <ul class="header-menu menu-box">
              <li class="header-menu-item"><a class="header-menu-link" href="#!">Города</a></li>
              <li class="header-menu-item"><a class="header-menu-link" href="#!">Туры</a></li>
              <li class="header-menu-item"><a class="header-menu-link" href="#!">Отели</a></li>
              <li class="header-menu-item"><a class="header-menu-link" href="#!">Рестораны</a></li>
              <li class="header-menu-item"><a class="header-menu-link" href="#!">Транспорт</a></li>
              <li class="header-menu-item"><a class="header-menu-link" href="#!">Места для посешения</a></li>
              <li class="header-menu-"><a class="header-menu-link" href="#!">Новости</a></li>
            </ul>
          </nav>
        </div>
        <div>
          <ul class="user-list">
            <li class="user-list-item">
              <a class="user-like" href="#!">
                <svg width="30" height="30" viewBox="-15 0 430.900 460.900">
                  <path
                    d="M295.706,35.522C295.706,35.522,295.706,35.522,295.706,35.522c-34.43-0.184-67.161,14.937-89.339,41.273    c-22.039-26.516-54.861-41.68-89.339-41.273C52.395,35.522,0,87.917,0,152.55C0,263.31,193.306,371.456,201.143,375.636    c3.162,2.113,7.286,2.113,10.449,0c7.837-4.18,201.143-110.759,201.143-223.086C412.735,87.917,360.339,35.522,295.706,35.522z"
                    fill="#ffffff" />
                </svg>
              </a>
            </li>
            <li class="user-list-item">
              <img src="./images/svg/globe.svg" alt="">
              <ul class="user-lang">
                <li>Uz</li>
                <li>En</li>
                <li>Ru</li>
              </ul>
            </li>
            <li class="user-login">
              <a href="#!">Log in</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
  </div>
  <div>
    <div class="header-follow-wrap">
      <span><a href="#!"><img src="../../../images/svg/instagram.svg" alt=":("></a></span>
      <span><a href="#!"><img src="../../../images/svg/telegram.svg" alt=":("></a></span>
      <span><a href="#!"><img src="../../../images/svg/facebook.svg" alt=":("></a></span>
      <span class="header-follow-text">FOLLOW US</span>
    </div>
    <div>
      <div class="container">
        <div class="tap-wrap">
          <div>
            <ul class="tabs">
              <li class="active" rel="tab1"> <span>Stays</span> </li>
              <li rel="tab2"> <span>Flights</span> </li>
              <li rel="tab3"> <span>Car Rentals</span> </li>
              <li rel="tab4"> <span>Attractions</span> </li>
              <li rel="tab5"> <span>Airport Taxis</span> </li>
            </ul>
            <div class="tab_container">
              <div id="tab1" class="tab_content">
                <div class="tab-content">
                  <div class="tab-content-item">
                    <img src="./images/svg/air-plane.svg" alt=":(">
                    <span>Tashkent (TAS)</span>
                  </div>
                  <div class="tab-content-item">
                    <img src="./images/svg/air-plane2.svg" alt="">
                    <span>Where?</span>
                  </div>
                  <div class="tab-content-item">
                    <img src="./images/svg/calendar.svg" alt="">
                    <span>09/09/2020</span>
                  </div>
                  <div class="tab-content-item">
                    <img src="./images/svg/calendar.svg" alt="">
                    <span>09/09/2020</span>
                  </div>
                  <div class="tab-content-item item-last">
                    <span>Show List</span>
                  </div>
                </div>
              </div>
              <!-- #tab1 -->
              <h3 class="tab_drawer_heading" rel="tab2">Flights</h3>
              <div id="tab2" class="tab_content">
                <div class="tab-content">
                  <div class="tab-content-item">
                    <img src="./images/svg/air-plane.svg" alt=":(">
                    <span>Tashkent (TAS)</span>
                  </div>
                  <div class="tab-content-item">
                    <img src="./images/svg/air-plane2.svg" alt="">
                    <span>Where?</span>
                  </div>
                  <div class="tab-content-item">
                    <img src="./images/svg/calendar.svg" alt="">
                    <span>09/09/2020</span>
                  </div>
                  <div class="tab-content-item">
                    <img src="./images/svg/calendar.svg" alt="">
                    <span>09/09/2020</span>
                  </div>
                  <div class="tab-content-item item-last">
                    <span>Show List</span>
                  </div>
                </div>
              </div>
              <!-- #tab2 -->
              <h3 class="tab_drawer_heading" rel="tab3">Car Rentals</h3>
              <div id="tab3" class="tab_content">
                <div class="tab-content">
                  <div class="tab-content-item">
                    <img src="./images/svg/air-plane.svg" alt=":(">
                    <span>Tashkent (TAS)</span>
                  </div>
                  <div class="tab-content-item">
                    <img src="./images/svg/air-plane2.svg" alt="">
                    <span>Where?</span>
                  </div>
                  <div class="tab-content-item">
                    <img src="./images/svg/calendar.svg" alt="">
                    <span>09/09/2020</span>
                  </div>
                  <div class="tab-content-item item-last">
                    <span>Show List</span>
                  </div>
                  <div class="tab-content-item">
                    <img src="./images/svg/calendar.svg" alt="">
                    <span>09/09/2020</span>
                  </div>
                </div>
              </div>
              <!-- #tab3 -->
              <h3 class="tab_drawer_heading" rel="tab4">Attractions</h3>
              <div id="tab4" class="tab_content">
                <div class="tab-content">
                  <div class="tab-content-item">
                    <img src="./images/svg/air-plane.svg" alt=":(">
                    <span>Tashkent (TAS)</span>
                  </div>
                  <div class="tab-content-item">
                    <img src="./images/svg/air-plane2.svg" alt="">
                    <span>Where?</span>
                  </div>
                  <div class="tab-content-item item-last">
                    <span>Show List</span>
                  </div>
                  <div class="tab-content-item">
                    <img src="./images/svg/calendar.svg" alt="">
                    <span>09/09/2020</span>
                  </div>
                  <div class="tab-content-item">
                    <img src="./images/svg/calendar.svg" alt="">
                    <span>09/09/2020</span>
                  </div>
                </div>
              </div>
              <!-- #tab4 -->
              <h3 class="tab_drawer_heading" rel="tab5">Airport Taxis</h3>
              <div id="tab5" class="tab_content">
                <div class="tab-content">
                  <div class="tab-content-item">
                    <img src="./images/svg/air-plane.svg" alt=":(">
                    <span>Tashkent (TAS)</span>
                  </div>
                  <div class="tab-content-item">
                    <img src="./images/svg/air-plane2.svg" alt="">
                    <span>Where?</span>
                  </div>
                  <div class="tab-content-item">
                    <img src="./images/svg/calendar.svg" alt="">
                    <span>09/09/2020</span>
                  </div>
                  <div class="tab-content-item item-last">
                    <span>Show List</span>
                  </div>
                  <div class="tab-content-item">
                    <img src="./images/svg/calendar.svg" alt="">
                    <span>09/09/2020</span>
                  </div>
                </div>
              </div>
              <!-- #tab5 -->
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

</div>